NODE_ENV=development
DATABASE_URL=postgresql://neondb_owner:npg_UF2qXOEJRZw5@ep-empty-salad-ahi6osia-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_UF2qXOEJRZw5@ep-empty-salad-ahi6osia.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require
PGHOST=ep-empty-salad-ahi6osia-pooler.c-3.us-east-1.aws.neon.tech
PGHOST_UNPOOLED=ep-empty-salad-ahi6osia.c-3.us-east-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=npg_UF2qXOEJRZw5
POSTGRES_URL=postgresql://neondb_owner:npg_UF2qXOEJRZw5@ep-empty-salad-ahi6osia-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:npg_UF2qXOEJRZw5@ep-empty-salad-ahi6osia.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-empty-salad-ahi6osia-pooler.c-3.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=npg_UF2qXOEJRZw5
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgresql://neondb_owner:npg_UF2qXOEJRZw5@ep-empty-salad-ahi6osia-pooler.c-3.us-east-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgresql://neondb_owner:npg_UF2qXOEJRZw5@ep-empty-salad-ahi6osia-pooler.c-3.us-east-1.aws.neon.tech/neondb?connect_timeout=15&sslmode=require
RETELL_WEBHOOK_SECRET=key_2df379acdb3a7e1aa2239d916ab0